.backgroundRowImage {
    background: url(../images/backgroundImg.png) no-repeat center;
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    width: 100%;
    height: 100vh;
     margin-right: 0%;
     margin-left: 0px;
    margin-right: 0vh;


  background-size: cover;
  padding-right:100%;
}

.titleStyle{
    height: 8vh;
    text-align: center;
    margin-top: 5vh;
    /* margin-left:50% ; */
    /* padding-left:50px ; */
    
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    font-size: 10vh;
    line-height: 8vh;
    
    color: #000000;
    
    background-color: rgba(248, 247, 247, 0.4); 
    width:80vh;
    border-radius:2vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.divBack{
    background-color: #1a1a1a;
    opacity: 90%;
    margin-left: -17px;
    width: 100%;
}

.inputTitles{
    width: 183px;
    height: 45px;
    left: 320px;
    top: 178px;
    margin-left: 400px;
    margin-top: 2vh;
    
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    
    color: #FFFFFF;
    outline: #000000;
    background-color: #1a1a1a;
    opacity: 80%;
}

.topic {
    margin-top: 20pt;
    font-family: Merriweather;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.fontPara {
    font-family: Merriweather;
    font-style: italic;
    font-size: 15pt;
    color: white;
}

.inputTextBox {
    width: 600px;
    height: 40px;
    background: #EFEFEF;
    border-radius: 20px;
    /*margin-left: 20px;*/
    padding-left: 2vh;
    padding-right: 2vh;
}

.spaceTop {
    margin-top: 20pt;
}

.addButton {
    width: 150px;
    height: 70px;
    background: #47AAE2;
    border-radius: 45px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 30pt;
    margin-top: 0%;
    margin-left: 1350px;

}

.imageBox {
    width: 400px;
    height: 330px;
    margin-left: 800px;
    margin-top: -70vh;
    padding-top: 1vh;
    border: 5px white;
}

.editDeleteButton {
    width: 140px;
    height: 40px;
    background: #47AAE2;
    border-radius: 45px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15pt;
    margin-right: 100pt;
}